<%- include header%>
<div class="blog-post">

<p>

    <h2 class="blog-post-title"><%= post.title %></h2>
    <% if(user && user.name == post.name){ %>
        <span><a class="btn btn-xs btn-danger" href="/admin/post/edit/<%= post._id %>">编辑</a></span>
        <span><a class="btn btn-xs btn-danger" href="/admin/post/delete/<%= post._id %>">删除</a></span>
    <% } %>


    <% var flag = 1 %>
    <% if (user && (user.name !== post.name)){%>
        <% if (post.reprint_info && post.reprint_info.reprint_from){ %>
                <% flag = 0 %>
        <% } %>
    <% if (post.reprint_info && post.reprint_info.reprint_to){ %>
        <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
            <% if (user.name === reprint_to.name) { %>
                <% flag = 0 %>
                <% } %>
            <% }); %>
        <% } %>
    <% } else {%>
        <% flag = 0 %>
    <% } %>
    <% if (flag){ %>
        <span><a class="btn btn-xs btn-danger edit" href="/admin/post/reprint/<%= post._id%>">转载</a></span>
    <% } %>

</p>

<p class="blog-post-meta">
    作者：<a href="/u/<%= post.name%>"><%= post.name%></a>
    日期：<%= moment(post.meta.updateAt).format('MM/DD/YYYY')%>
    标签：


    <% post.tags.forEach(function (tag,index) { %>

            <a class="tag btn btn-xs btn-info" href="/tags/<%= tag %>"><%= tag %></a>

    <% }) %>

    <% if ( post.reprint_info && post.reprint_info.reprint_from){ %>
        <br><a href="/post/<%= post.reprint_info.reprint_from %>">原文链接</a>
    <% } %>

</p>

<p ><%- post.post %></p>

    <div class="info">

        <span class="btn btn-xs btn-default" disabled="disabled">阅读： <strong><%= post.pv %></strong> </span>

                <span class="btn btn-xs btn-default" disabled="disabled">
                    转载：
                    <% if (post.reprint_info && post.reprint_info.reprint_to) { %>
                        <strong><%= post.reprint_info.reprint_to.length %></strong>
                    <% } else { %>
                        <strong ><%= 0 %></strong>
                    <% } %>
                </span>


    </div>
    <div class="bshare-custom"><a title="分享到Evernote" class="bshare-evernote"></a><a title="分享到微信" class="bshare-weixin"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到Gmail" class="bshare-gmail"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到豆瓣" class="bshare-douban"></a><a title="分享到QQ空间" class="bshare-qzone"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script><a class="bshareDiv" onclick="javascript:return false;"></a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</div>



<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="<%= post._id %>" data-title="<%= post.title %>" data-url="/post/<%= post._id %>"></div>
<!-- 多说评论框 end -->

<%- include footer %>
