<%- include header %>


<div class="container">
<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <% if(posts){%>
                <% posts.forEach(function (post, index) { %>
                    <p>
                        <h2 class="blog-post-title" ><a href="/post/<%= post._id %>" style="text-decoration:none;"><%= post.title %></a></h2>
                    <!--
                        <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
                    </p>-->
                    <p class="blog-post-meta">
                        作者：<a href="/u/<%= post.name%>"><%= post.name %></a> |
                        日期：<%= moment(post.meta.updateAt).format('MM/DD/YYYY')%>
                        <% if ( post.reprint_info && post.reprint_info.reprint_from ){ %>

                            <br><a class="btn btn-xs btn-default" href="/post/<%= post.reprint_info.reprint_from %>">原文链接</a>
                        <% } %>
                        标签：
                        <% post.tags.forEach(function (tag,index) { %>
                        <a class="tag btn btn-xs btn-info" href="/tags/<%= tag %>"><%= tag %></a>
                        <% }) %>

                    </p>

                <p><%- post.post %></p>


            <div class="info">
                <span class="btn btn-xs btn-default" disabled="disabled">阅读： <strong><%= post.pv %></strong> </span>
                <span class="btn btn-xs btn-default" disabled="disabled">
                    转载：
                    <% if (post.reprint_info && post.reprint_info.reprint_to) { %>
                        <strong><%= post.reprint_info.reprint_to.length %></strong>
                    <% } else { %>
                        <strong ><%= 0 %></strong>
                    <% } %>
                </span>
            </div>

                <% }); %>
            <%}%>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>关于</h4>
            <img src="/images/getface.jpeg" alt="zeffon"/>
            <p>鄙人 <a href="https://github.com/zeffon">zeffon</a> 一个关于javascript、nodejs的转载分享网站。欢迎拍砖。</p>
        </div>
        <div class="sidebar-module sidebar-module-inset">
            <h4>标签</h4>
            <% if( tags && tags.length>0 ){%>
            <% tags.forEach(function (tag, index) { %>

            <a class="tagSpan label label-primary"  href="/tags/<%= tag %>"><span><%= tag %></span></a>


            <% }) %>
            <% } %>
        </div>


    </div>
</div>
</div>


<%- include footer %>